<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0fe70fcd-f6e2-4b42-822b-e4be34babb4b" Alias="category" Level="2">
  <Info>
    <Name>Category</Name>
    <Icon>icon-thumbnails color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Products</Folder>
    <Compositions>
      <Composition Key="08ae7ecb-9f7d-4020-9460-e84122e3b10a">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Category</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d15ff1c2-4799-4a0d-9456-bd30608863fa">Category</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d106584a-9002-4fb1-b728-1694192aab55" SortOrder="0">type</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a5b8187c-0129-4b84-8960-ce4d04bec068</Key>
      <Name>Banner</Name>
      <Alias>banner</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>374bc359-26e5-4ff7-91cd-e0eb8387cd65</Key>
      <Name>Mô tả ngắn</Name>
      <Alias>description</Alias>
      <Definition>3db2e1ac-af3e-4b42-9755-8687948ac908</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>54ed55ba-5822-4e8f-bc58-b38ea36677d0</Key>
      <Name>Hình đại diện</Name>
      <Alias>image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b628d5de-0e77-4832-8909-c12af9a60623</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>