<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b8845fb5-7477-4e2c-85ce-fd9a14002fcf" Alias="packageItem" Level="2">
  <Info>
    <Name>PackageItem</Name>
    <Icon>icon-mountain color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Packages</Folder>
    <Compositions>
      <Composition Key="08ae7ecb-9f7d-4020-9460-e84122e3b10a">sEO</Composition>
    </Compositions>
    <DefaultTemplate>PackageItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="06639668-ed24-47e7-b947-ff66bca4696d">PackageItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0d661b0e-4925-4154-ae50-a767f5c9919b</Key>
      <Name>Hình thiết kế</Name>
      <Alias>mainImage</Alias>
      <Definition>0e63d883-b62b-4799-88c3-157f82e83ecc</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1aebbafc-70fd-4fa7-ac8b-fa1925188ec2</Key>
      <Name>ProductPicker</Name>
      <Alias>productPicker</Alias>
      <Definition>a382cdb7-ee1b-40c8-8b5d-62ea018188bd</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>40c54389-62e6-4623-a6d4-054c2660e3c1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>