<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="42f7a675-d2d3-4d1a-ac20-a374e655b8e5" Alias="packages" Level="2">
  <Info>
    <Name>Packages</Name>
    <Icon>icon-thumbnails color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Packages</Folder>
    <Compositions>
      <Composition Key="08ae7ecb-9f7d-4020-9460-e84122e3b10a">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Packages</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ee0f5a74-5b5f-499e-aee6-7d8f4fc91fe6">Packages</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e840533a-3c88-43d1-a152-a71a46ac0008" SortOrder="0">package</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>