<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e63c96a8-f32e-4f66-88b9-c2ccae361116" Alias="privacy" Level="2">
  <Info>
    <Name>Privacy</Name>
    <Icon>icon-thumbnails color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Privacy</Folder>
    <Compositions>
      <Composition Key="08ae7ecb-9f7d-4020-9460-e84122e3b10a">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Privacy</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4c5fe53b-1d9f-4d49-8538-040c0c4f0d5f">Privacy</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cfd41818-b8e6-42bf-85fc-22ea2103f08c" SortOrder="0">blankPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>