<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="291dcd1f-d5b6-4f35-bba6-f817ba7e8b58" Alias="product" Level="2">
  <Info>
    <Name>Product</Name>
    <Icon>icon-tags color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Products</Folder>
    <Compositions>
      <Composition Key="08ae7ecb-9f7d-4020-9460-e84122e3b10a">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Product</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2ec65037-6f3d-4e86-84af-072a59d02132">Product</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>54a8cd8a-a7b7-4477-b1f4-5428d23f2c79</Key>
      <Name>Mô tả sản phẩm</Name>
      <Alias>description</Alias>
      <Definition>3db2e1ac-af3e-4b42-9755-8687948ac908</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="thngTin">Thông tin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6f8a6a8e-e142-4226-b1df-dd422de24077</Key>
      <Name>Hình đại diện</Name>
      <Alias>image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="thngTin">Thông tin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a56df443-0c77-4dda-a91e-85207178fda7</Key>
      <Name>ImageDetail</Name>
      <Alias>imageDetail</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hnhNhChiTit">Hình ảnh chi tiết</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0bafef24-f646-4d59-ae7d-2f3db851aaff</Key>
      <Name>Sản phẩm hết hàng</Name>
      <Alias>isOutOfStock</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="thngTin">Thông tin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>095eb2b3-9ac5-48aa-bcfa-7a0df4195714</Key>
      <Name>Giá cũ</Name>
      <Alias>oldPrice</Alias>
      <Definition>fbf6d68c-728b-4f2e-b50b-fcf66bb7fb6f</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="thngTin">Thông tin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b8e2b9dc-d4a3-4ae6-b264-6f7d1bfd221b</Key>
      <Name>Giá</Name>
      <Alias>price</Alias>
      <Definition>fbf6d68c-728b-4f2e-b50b-fcf66bb7fb6f</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="thngTin">Thông tin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ef288004-174e-44ad-ba51-fb1d042c8682</Key>
      <Name>ProductColors</Name>
      <Alias>productColors</Alias>
      <Definition>5c931ed1-a167-4b71-a886-e17213cf3ee9</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="muSnPhm">Màu sản phẩm</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>44c89a1a-03cb-4e1e-839f-361450e83eab</Key>
      <Name>ProductMaterials</Name>
      <Alias>productMaterials</Alias>
      <Definition>24134e4b-692c-475f-a177-30ec199be038</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="chtLiuSnPhm">Chất liệu sản phẩm</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3abaaf69-c689-420b-b717-91dce29dc97d</Key>
      <Name>ProductSizes</Name>
      <Alias>productSizes</Alias>
      <Definition>cedf0c2b-36f3-40bb-910d-211d05312855</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="thngSSnPhm">Thông số sản phẩm</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0be1e53e-f3d5-4f66-87a3-590e501441f2</Key>
      <Name>Hình liên quan</Name>
      <Alias>relatedImages</Alias>
      <Definition>0e63d883-b62b-4799-88c3-157f82e83ecc</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="thngTin">Thông tin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6132b32b-b269-459a-98d8-7559d62204ef</Key>
      <Name>Khuyến mãi</Name>
      <Alias>sale</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="thngTin">Thông tin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1ea8153d-8c3b-4ef2-b964-e795a8837cd1</Key>
      <Caption>Màu sản phẩm</Caption>
      <Alias>muSnPhm</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>55b706db-1824-436b-8007-e771e3c0ab36</Key>
      <Caption>Hình ảnh chi tiết</Caption>
      <Alias>hnhNhChiTit</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>677934b9-8659-4b1f-a523-1ed4ede0809c</Key>
      <Caption>Thông số sản phẩm</Caption>
      <Alias>thngSSnPhm</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>86220e1f-5224-456f-8e62-033813f2b657</Key>
      <Caption>Chất liệu sản phẩm</Caption>
      <Alias>chtLiuSnPhm</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>ae211ea0-70f6-4744-a9d0-caacbd3c2265</Key>
      <Caption>Thông tin</Caption>
      <Alias>thngTin</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>