@using Umbraco.Cms.Core.Models;
@using DenKhangThinh.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits UmbracoViewPage<Category>
@{
    var home = Umbraco.AssignedContentItem.Root();
}
<h1 class="hidden-h1">@(home?.Value("metaTitle") ?? "")</h1>
@await Html.PartialAsync("Category/_CategoryItem", new CategoryViewModel { IsCategory = true, Data = Model})
