@using DenKhangThinh.Models
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>

<h1 class="hidden-h1">@(Model.MetaTitle ?? "")</h1>
@await Html.PartialAsync("Home/_HomeBanner")
@await Html.PartialAsync("Home/_HighLightProducts")
@await Html.PartialAsync("Home/_Categories")
@await Html.PartialAsync("Home/_Packages")
@await Html.PartialAsync("Home/_Benefit")