<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3db2e1ac-af3e-4b42-9755-8687948ac908" Alias="Description" Level="1">
  <Info>
    <Name>Description</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styleselect",
      "bold",
      "italic",
      "fullscreen"
    ],
    "stylesheets": [
      "/css/Style.css"
    ],
    "maxImageSize": 1920,
    "mode": "classic",
    "dimensions": {
      "height": 200
    }
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>