<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a382cdb7-ee1b-40c8-8b5d-62ea018188bd" Alias="Product Treepicker" Level="1">
  <Info>
    <Name>Product Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "product",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": "$root",
    "type": "content"
  }
}]]></Config>
</DataType>