<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24134e4b-692c-475f-a177-30ec199be038" Alias="ProductMaterials" Level="1">
  <Info>
    <Name>ProductMaterials</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{ title }}",
      "ncAlias": "productMaterial",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": true,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>