<?xml version="1.0" encoding="utf-8"?>
<DataType Key="23914f18-a79c-488e-9b5a-a8ef1b58a45f" Alias="socialMedias" Level="1">
  <Info>
    <Name>socialMedias</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{ title }}",
      "ncAlias": "socialMedia",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>