<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d7023dd-d2aa-4b89-b06d-1bc526e2b265" Alias="Vector Graphics (SVG)" Level="1">
  <Info>
    <Name>Vector Graphics (SVG)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>