<?xml version="1.0" encoding="utf-8"?>
<Media Key="b09a417c-3c7d-4bd0-ba77-c96c47b40380" Alias="Banner 2" Level="3">
  <Info>
    <Parent Key="8e69c3e2-f584-43ec-880b-de2d052fbbfa">Banners</Parent>
    <Path>/General/Banners/Banner2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-22T04:52:50</CreateDate>
    <NodeName Default="Banner 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pjajvmd3/banner-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>