<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e69c3e2-f584-43ec-880b-de2d052fbbfa" Alias="Banners" Level="2">
  <Info>
    <Parent Key="c959f250-8a5b-427f-982b-f779d78225af">General</Parent>
    <Path>/General/Banners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-22T04:52:39</CreateDate>
    <NodeName Default="Banners" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>