<?xml version="1.0" encoding="utf-8"?>
<Media Key="da3469d8-259e-48b9-bf99-21b0f2c7c106" Alias="Banner 1" Level="3">
  <Info>
    <Parent Key="8e69c3e2-f584-43ec-880b-de2d052fbbfa">Banners</Parent>
    <Path>/General/Banners/Banner1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-22T04:52:50</CreateDate>
    <NodeName Default="Banner 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1zudjwu4/banner-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>