<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d91dfae-7757-4333-b0c0-08fbda131703" Alias="Banner 3" Level="3">
  <Info>
    <Parent Key="8e69c3e2-f584-43ec-880b-de2d052fbbfa">Banners</Parent>
    <Path>/General/Banners/Banner3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-22T04:52:50</CreateDate>
    <NodeName Default="Banner 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vdpjcdkx/banner-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>