<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6abf6b8-7192-467e-9d0b-dbf6511a414e" Alias="Benefit 4" Level="3">
  <Info>
    <Parent Key="16feb983-28ff-4935-a7ce-58aadb77abae">Benefits</Parent>
    <Path>/General/Benefits/Benefit4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-22T04:54:48</CreateDate>
    <NodeName Default="Benefit 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rh1kxrus/benefit-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>