<?xml version="1.0" encoding="utf-8"?>
<Media Key="571517e3-f916-455b-a72e-73469d1e2b17" Alias="Benefit 2" Level="3">
  <Info>
    <Parent Key="16feb983-28ff-4935-a7ce-58aadb77abae">Benefits</Parent>
    <Path>/General/Benefits/Benefit2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-22T04:54:48</CreateDate>
    <NodeName Default="Benefit 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ilbkvyw/benefit-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>