<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab051dd9-f9ce-45de-b6e3-4c9204d620cb" Alias="Benefit 1" Level="3">
  <Info>
    <Parent Key="16feb983-28ff-4935-a7ce-58aadb77abae">Benefits</Parent>
    <Path>/General/Benefits/Benefit1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-22T04:54:47</CreateDate>
    <NodeName Default="Benefit 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3aoblk4o/benefit-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>