<?xml version="1.0" encoding="utf-8"?>
<Media Key="d000c948-fcb3-4232-94da-ce08adce667c" Alias="Benefit 3" Level="3">
  <Info>
    <Parent Key="16feb983-28ff-4935-a7ce-58aadb77abae">Benefits</Parent>
    <Path>/General/Benefits/Benefit3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-22T04:54:48</CreateDate>
    <NodeName Default="Benefit 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/phebbuft/benefit-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>