<?xml version="1.0" encoding="utf-8"?>
<Media Key="c959f250-8a5b-427f-982b-f779d78225af" Alias="General" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/General</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-22T04:56:11</CreateDate>
    <NodeName Default="General" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>