<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcb0c2bb-4e8c-47af-92c1-ba96e70a8aba" Alias="Social Pinterest" Level="3">
  <Info>
    <Parent Key="f86d73e9-5774-41ab-b551-82d949cee6cc">Social Medias</Parent>
    <Path>/General/SocialMedias/SocialPinterest</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-22T04:53:30</CreateDate>
    <NodeName Default="Social Pinterest" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rlblbxem/social-pinterest.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>