<?xml version="1.0" encoding="utf-8"?>
<Media Key="99254607-ca7c-4c1c-bc10-624cab949fd1" Alias="Social Instagram" Level="3">
  <Info>
    <Parent Key="f86d73e9-5774-41ab-b551-82d949cee6cc">Social Medias</Parent>
    <Path>/General/SocialMedias/SocialInstagram</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-22T04:53:30</CreateDate>
    <NodeName Default="Social Instagram" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gzdclgl2/social-instagram.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>