<?xml version="1.0" encoding="utf-8"?>
<Media Key="da54e72b-022c-4d64-982d-74b1509b8366" Alias="Social Facebook" Level="3">
  <Info>
    <Parent Key="f86d73e9-5774-41ab-b551-82d949cee6cc">Social Medias</Parent>
    <Path>/General/SocialMedias/SocialFacebook</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-22T04:53:30</CreateDate>
    <NodeName Default="Social Facebook" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dltfjwrm/social-facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>