<?xml version="1.0" encoding="utf-8"?>
<Media Key="f86d73e9-5774-41ab-b551-82d949cee6cc" Alias="Social Medias" Level="2">
  <Info>
    <Parent Key="c959f250-8a5b-427f-982b-f779d78225af">General</Parent>
    <Path>/General/SocialMedias</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-22T04:53:12</CreateDate>
    <NodeName Default="Social Medias" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>