<?xml version="1.0" encoding="utf-8"?>
<Media Key="6cec1378-5c70-4867-a726-9286f5b15579" Alias="Social Tiktok" Level="3">
  <Info>
    <Parent Key="f86d73e9-5774-41ab-b551-82d949cee6cc">Social Medias</Parent>
    <Path>/General/SocialMedias/SocialTiktok</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-22T04:53:30</CreateDate>
    <NodeName Default="Social Tiktok" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jejpy1dq/social-tiktok.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>