<?xml version="1.0" encoding="utf-8"?>
<Content Key="17ae2ba3-1fc1-42a0-8008-c388d706fb63" Alias="Chính sách" Level="2">
  <Info>
    <Parent Key="8c0b65a7-9b0c-4778-a26e-a14c4ce9e31b">Trang chủ</Parent>
    <Path>/TrangChu/ChinhSach</Path>
    <Trashed>false</Trashed>
    <ContentType>privacy</ContentType>
    <CreateDate>2025-04-22T04:46:39</CreateDate>
    <NodeName Default="Chính sách" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4c5fe53b-1d9f-4d49-8538-040c0c4f0d5f">Privacy</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>