<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c5d43e3-b1b2-45ef-8a8b-750847110d01" Alias="Chăm sóc khách hàng" Level="3">
  <Info>
    <Parent Key="17ae2ba3-1fc1-42a0-8008-c388d706fb63">Chính sách</Parent>
    <Path>/TrangChu/ChinhSach/ChamSocKhachHang</Path>
    <Trashed>false</Trashed>
    <ContentType>blankPage</ContentType>
    <CreateDate>2025-04-22T04:46:47</CreateDate>
    <NodeName Default="Chăm sóc khách hàng" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5074216b-5955-4a16-a03f-87ee988d6702">BlankPage</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[]]]></Value>
    </banner>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>