<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7aa6dd8-0721-4a16-a535-0810a60502c2" Alias="Căn hộ Masteri Lumier" Level="3">
  <Info>
    <Parent Key="2d13d4e7-65e8-4e33-93a5-e49ea77e5b4f">Trọn gói</Parent>
    <Path>/TrangChu/TronGoi/CanHoMasteriLumier</Path>
    <Trashed>false</Trashed>
    <ContentType>package</ContentType>
    <CreateDate>2025-04-22T04:50:31</CreateDate>
    <NodeName Default="Căn hộ Masteri Lumier" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="66240a46-c19e-4dfb-9f88-073c0988e425">Package</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <packageName>
      <Value><![CDATA[Masteri Lumier]]></Value>
    </packageName>
    <packageType>
      <Value><![CDATA[Căn hộ]]></Value>
    </packageType>
    <sale>
      <Value><![CDATA[10]]></Value>
    </sale>
  </Properties>
</Content>