<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1e9e614-7d4a-4483-b1f2-8a9ce33d8f7e" Alias="Liên hệ" Level="2">
  <Info>
    <Parent Key="8c0b65a7-9b0c-4778-a26e-a14c4ce9e31b">Trang chủ</Parent>
    <Path>/TrangChu/LienHe</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2025-04-22T04:46:33</CreateDate>
    <NodeName Default="Liên hệ" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9f016848-c797-4b73-b0fd-29c6875a91f6">Contact</Template>
  </Info>
  <Properties>
    <contactInfo>
      <Value><![CDATA[<p> </p>
<p>    852 Huỳnh Tấn Phát, Phường Tân Phú, Quận 7, TP. HCM</p>
<p>    Hot line: 0948 757 636</p>]]></Value>
    </contactInfo>
    <formServices>
      <Value><![CDATA[]]></Value>
    </formServices>
    <formTitle>
      <Value><![CDATA[Free Service]]></Value>
    </formTitle>
    <googleMaps>
      <Value><![CDATA[<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11087.731790007767!2d106.7367216954005!3d10.726371285407236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317525003f192bf3%3A0xb23f512ca54c935d!2sAME%20Studio!5e0!3m2!1svi!2s!4v1744976785263!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>]]></Value>
    </googleMaps>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>