<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c0b65a7-9b0c-4778-a26e-a14c4ce9e31b" Alias="Trang chủ" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TrangChu</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-04-22T04:40:10</CreateDate>
    <NodeName Default="Trang chủ" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="40ce74cf-7cd4-4ddc-85ea-f4fb75d31f12">Home</Template>
  </Info>
  <Properties>
    <banners>
      <Value><![CDATA[[
  {
    "key": "a9e9e289-4e5f-4821-8298-16b1f075d5cb",
    "mediaKey": "da3469d8-259e-48b9-bf99-21b0f2c7c106"
  },
  {
    "key": "4867b9e9-3022-45e3-b0c3-0078787db9ae",
    "mediaKey": "b09a417c-3c7d-4bd0-ba77-c96c47b40380"
  },
  {
    "key": "048df4fc-53c3-4157-a18a-844e0cc97e0f",
    "mediaKey": "0d91dfae-7757-4333-b0c0-08fbda131703"
  }
]]]></Value>
    </banners>
    <benefit>
      <Value><![CDATA[[
  {
    "key": "276ad1a1-bb3a-43ac-b436-877e5731632b",
    "name": "Chi phí mềm",
    "ncContentTypeAlias": "process",
    "PropType": null,
    "title": "Chi phí mềm",
    "svg": "[\r\n  {\r\n    \"key\": \"08fc4430-0eef-4a30-84bf-48771054bc37\",\r\n    \"mediaKey\": \"ab051dd9-f9ce-45de-b6e3-4c9204d620cb\"\r\n  }\r\n]"
  },
  {
    "key": "38e163e2-c55d-4434-b83f-767a4a062c2f",
    "name": "Chất liệu đa dạng",
    "ncContentTypeAlias": "process",
    "PropType": null,
    "title": "Chất liệu đa dạng",
    "svg": "[\r\n  {\r\n    \"key\": \"debd4aa0-9940-43b4-bf78-83372d775d01\",\r\n    \"mediaKey\": \"571517e3-f916-455b-a72e-73469d1e2b17\"\r\n  }\r\n]"
  },
  {
    "key": "e20f840c-c463-45b2-bba5-ebaeac6132cb",
    "name": "Máy đo chuẩn xác",
    "ncContentTypeAlias": "process",
    "PropType": null,
    "title": "Máy đo chuẩn xác",
    "svg": "[\r\n  {\r\n    \"key\": \"5a62c609-4420-4d93-8f04-6279ad86f3cc\",\r\n    \"mediaKey\": \"d000c948-fcb3-4232-94da-ce08adce667c\"\r\n  }\r\n]"
  },
  {
    "key": "e7ab7dba-d3f0-48e1-8080-3e167c014deb",
    "name": "Miễn phí giao hàng",
    "ncContentTypeAlias": "process",
    "PropType": null,
    "title": "Miễn phí giao hàng",
    "svg": "[\r\n  {\r\n    \"key\": \"e773ee9b-d9b2-4f38-a34d-d43e9e1f7e71\",\r\n    \"mediaKey\": \"c6abf6b8-7192-467e-9d0b-dbf6511a414e\"\r\n  }\r\n]"
  }
]]]></Value>
    </benefit>
    <favicon>
      <Value><![CDATA[[]]]></Value>
    </favicon>
    <logo>
      <Value><![CDATA[[]]]></Value>
    </logo>
    <logoFooter>
      <Value><![CDATA[[]]]></Value>
    </logoFooter>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <socialMedias>
      <Value><![CDATA[[
  {
    "key": "bc0ecd3b-3914-4050-a973-d94c0bd239ac",
    "name": "Facebook",
    "ncContentTypeAlias": "socialMedia",
    "PropType": null,
    "title": "Facebook",
    "link": "",
    "svg": "[\r\n  {\r\n    \"key\": \"b0287e3b-4291-45bf-88e1-7dc8cfa76208\",\r\n    \"mediaKey\": \"da54e72b-022c-4d64-982d-74b1509b8366\"\r\n  }\r\n]"
  },
  {
    "key": "0d90d455-6422-4380-88ff-4cab9abbede6",
    "name": "Instagram",
    "ncContentTypeAlias": "socialMedia",
    "PropType": null,
    "title": "Instagram",
    "link": "",
    "svg": "[\r\n  {\r\n    \"key\": \"bbbdccea-7fe9-46e5-b652-c828f28cddd9\",\r\n    \"mediaKey\": \"99254607-ca7c-4c1c-bc10-624cab949fd1\"\r\n  }\r\n]"
  },
  {
    "key": "abed681e-675e-429d-95af-3cbb6c024143",
    "name": "Tiktok",
    "ncContentTypeAlias": "socialMedia",
    "PropType": null,
    "title": "Tiktok",
    "link": "",
    "svg": "[\r\n  {\r\n    \"key\": \"6836a91b-247f-454d-b4d4-2c4087a75ab6\",\r\n    \"mediaKey\": \"6cec1378-5c70-4867-a726-9286f5b15579\"\r\n  }\r\n]"
  },
  {
    "key": "1e3325af-7a14-46c1-95ec-72c25c828b68",
    "name": "Pinterest",
    "ncContentTypeAlias": "socialMedia",
    "PropType": null,
    "title": "Pinterest",
    "link": "",
    "svg": "[\r\n  {\r\n    \"key\": \"48704b4a-aa60-4add-9e8d-3a5a53994b3f\",\r\n    \"mediaKey\": \"dcb0c2bb-4e8c-47af-92c1-ba96e70a8aba\"\r\n  }\r\n]"
  }
]]]></Value>
    </socialMedias>
    <zaloNumber>
      <Value><![CDATA[]]></Value>
    </zaloNumber>
  </Properties>
</Content>