<?xml version="1.0" encoding="utf-8"?>
<Content Key="999c6303-1ccb-44a1-9ddc-652d0b24546b" Alias="Trang Trí Nhà Hàng" Level="3">
  <Info>
    <Parent Key="6e1ad3d4-0848-46ac-9b7d-5b39591bd98d">Đèn Thả</Parent>
    <Path>/TrangChu/DenTha/TrangTriNhaHang</Path>
    <Trashed>false</Trashed>
    <ContentType>type</ContentType>
    <CreateDate>2025-04-22T04:48:05</CreateDate>
    <NodeName Default="Trang Trí Nhà Hàng" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49281fab-885d-4c04-ad6b-087a17841207">Type</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>