<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d13d4e7-65e8-4e33-93a5-e49ea77e5b4f" Alias="Trọn gói" Level="2">
  <Info>
    <Parent Key="8c0b65a7-9b0c-4778-a26e-a14c4ce9e31b">Trang chủ</Parent>
    <Path>/TrangChu/TronGoi</Path>
    <Trashed>false</Trashed>
    <ContentType>packages</ContentType>
    <CreateDate>2025-04-22T04:46:19</CreateDate>
    <NodeName Default="Trọn gói" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ee0f5a74-5b5f-499e-aee6-7d8f4fc91fe6">Packages</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>