<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b0fe39c-c3b2-4e1b-a90e-d9cbb83766ab" Alias="Tìm kiếm" Level="2">
  <Info>
    <Parent Key="8c0b65a7-9b0c-4778-a26e-a14c4ce9e31b">Trang chủ</Parent>
    <Path>/TrangChu/TimKiem</Path>
    <Trashed>false</Trashed>
    <ContentType>search</ContentType>
    <CreateDate>2025-04-22T06:38:41</CreateDate>
    <NodeName Default="Tìm kiếm" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f61ecc88-416a-4afc-b663-be06e90bd9e3">Search</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[]]]></Value>
    </banner>
  </Properties>
</Content>