<?xml version="1.0" encoding="utf-8"?>
<Content Key="842a2664-3c50-4e9b-b850-64441dd91c80" Alias="Đèn Chùm Phòng Ăn" Level="3">
  <Info>
    <Parent Key="a7e4c139-d153-4622-92f9-d29592282f8d">Đèn Chùm</Parent>
    <Path>/TrangChu/DenChum/DenChumPhongAn</Path>
    <Trashed>false</Trashed>
    <ContentType>type</ContentType>
    <CreateDate>2025-04-22T04:47:41</CreateDate>
    <NodeName Default="Đèn Chùm Phòng Ăn" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49281fab-885d-4c04-ad6b-087a17841207">Type</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>