<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9f56390-b34e-42d0-bfdd-c4f2b8138668" Alias="Đèn Quạt Sải Cánh" Level="3">
  <Info>
    <Parent Key="be74c46a-3bae-45a5-90ea-2ff7e0971778">Đèn Quạt</Parent>
    <Path>/TrangChu/DenQuat/DenQuatSaiCanh</Path>
    <Trashed>false</Trashed>
    <ContentType>type</ContentType>
    <CreateDate>2025-04-22T04:49:03</CreateDate>
    <NodeName Default="Đèn Quạt Sải Cánh" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49281fab-885d-4c04-ad6b-087a17841207">Type</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>