<?xml version="1.0" encoding="utf-8"?>
<Content Key="db830885-3bca-4660-85f3-83641b3e6e7a" Alias="Đèn Ốp Trần" Level="2">
  <Info>
    <Parent Key="8c0b65a7-9b0c-4778-a26e-a14c4ce9e31b">Trang chủ</Parent>
    <Path>/TrangChu/DenOpTran</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-04-22T04:44:52</CreateDate>
    <NodeName Default="Đèn Ốp Trần" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d15ff1c2-4799-4a0d-9456-bd30608863fa">Category</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[]]]></Value>
    </banner>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>