<?xml version="1.0" encoding="utf-8"?>
<Content Key="0248596c-07db-414b-b037-3170212596e0" Alias="Đèn nhà hàng 1" Level="4">
  <Info>
    <Parent Key="999c6303-1ccb-44a1-9ddc-652d0b24546b">Trang Trí Nhà Hàng</Parent>
    <Path>/TrangChu/DenTha/TrangTriNhaHang/DenNhaHang1</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-04-24T19:32:08</CreateDate>
    <NodeName Default="Đèn nhà hàng 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2ec65037-6f3d-4e86-84af-072a59d02132">Product</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p>hạt mức</p>]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <imageDetail>
      <Value><![CDATA[[]]]></Value>
    </imageDetail>
    <isOutOfStock>
      <Value><![CDATA[0]]></Value>
    </isOutOfStock>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <oldPrice>
      <Value><![CDATA[]]></Value>
    </oldPrice>
    <price>
      <Value><![CDATA[]]></Value>
    </price>
    <productColors>
      <Value><![CDATA[]]></Value>
    </productColors>
    <productMaterials>
      <Value><![CDATA[]]></Value>
    </productMaterials>
    <productSizes>
      <Value><![CDATA[[
  {
    "key": "40c86577-7717-4998-b0d5-f7ab0099c171",
    "name": "Thông số 1",
    "ncContentTypeAlias": "productSize",
    "PropType": null,
    "title": "Thông số 1",
    "value": "123123"
  },
  {
    "key": "cdd22280-6ba4-4c97-bf63-18e471fd2de0",
    "name": "Thông số 2",
    "ncContentTypeAlias": "productSize",
    "PropType": null,
    "title": "Thông số 2",
    "value": "12111"
  }
]]]></Value>
    </productSizes>
    <relatedImages>
      <Value><![CDATA[[]]]></Value>
    </relatedImages>
    <sale>
      <Value><![CDATA[]]></Value>
    </sale>
  </Properties>
</Content>