<?xml version="1.0" encoding="utf-8"?>
<Content Key="66e6321d-0bf8-4007-a103-01b27961aa3d" Alias="Đèn Quạt Giấu Cánh" Level="3">
  <Info>
    <Parent Key="be74c46a-3bae-45a5-90ea-2ff7e0971778">Đèn Quạt</Parent>
    <Path>/TrangChu/DenQuat/DenQuatGiauCanh</Path>
    <Trashed>false</Trashed>
    <ContentType>type</ContentType>
    <CreateDate>2025-04-22T04:49:13</CreateDate>
    <NodeName Default="Đèn Quạt Giấu Cánh" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49281fab-885d-4c04-ad6b-087a17841207">Type</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>