<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b189a66-9049-479e-a299-4bc65bc3ff93" Alias="Đèn trang trí 1" Level="4">
  <Info>
    <Parent Key="d58c6a33-f38f-4d8d-a434-4150c19567bf">Trang Trí Khách Sạn</Parent>
    <Path>/TrangChu/DenChum/TrangTriKhachSan/DenTrangTri1</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-04-24T19:31:45</CreateDate>
    <NodeName Default="Đèn trang trí 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2ec65037-6f3d-4e86-84af-072a59d02132">Product</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <imageDetail>
      <Value><![CDATA[[]]]></Value>
    </imageDetail>
    <isOutOfStock>
      <Value><![CDATA[0]]></Value>
    </isOutOfStock>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <oldPrice>
      <Value><![CDATA[]]></Value>
    </oldPrice>
    <price>
      <Value><![CDATA[]]></Value>
    </price>
    <productColors>
      <Value><![CDATA[]]></Value>
    </productColors>
    <productMaterials>
      <Value><![CDATA[]]></Value>
    </productMaterials>
    <productSizes>
      <Value><![CDATA[]]></Value>
    </productSizes>
    <relatedImages>
      <Value><![CDATA[[]]]></Value>
    </relatedImages>
    <sale>
      <Value><![CDATA[]]></Value>
    </sale>
  </Properties>
</Content>