<?xml version="1.0" encoding="utf-8"?>
<Content Key="be74c46a-3bae-45a5-90ea-2ff7e0971778" Alias="Đèn Quạt" Level="2">
  <Info>
    <Parent Key="8c0b65a7-9b0c-4778-a26e-a14c4ce9e31b">Trang chủ</Parent>
    <Path>/TrangChu/DenQuat</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-04-22T04:44:58</CreateDate>
    <NodeName Default="Đèn Quạt" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d15ff1c2-4799-4a0d-9456-bd30608863fa">Category</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[]]]></Value>
    </banner>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>