<?xml version="1.0" encoding="utf-8"?>
<Content Key="60f31df2-4b10-4739-83d5-ebe068005243" Alias="Đèn thả 1" Level="4">
  <Info>
    <Parent Key="c1fa2981-d069-4040-9f06-064fb06f8d34">Đèn Thả Phòng Ăn</Parent>
    <Path>/TrangChu/DenTha/DenThaPhongAn/DenTha1</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-04-24T19:32:15</CreateDate>
    <NodeName Default="Đèn thả 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2ec65037-6f3d-4e86-84af-072a59d02132">Product</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <imageDetail>
      <Value><![CDATA[[]]]></Value>
    </imageDetail>
    <isOutOfStock>
      <Value><![CDATA[0]]></Value>
    </isOutOfStock>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <oldPrice>
      <Value><![CDATA[]]></Value>
    </oldPrice>
    <price>
      <Value><![CDATA[]]></Value>
    </price>
    <productColors>
      <Value><![CDATA[]]></Value>
    </productColors>
    <productMaterials>
      <Value><![CDATA[]]></Value>
    </productMaterials>
    <productSizes>
      <Value><![CDATA[]]></Value>
    </productSizes>
    <relatedImages>
      <Value><![CDATA[[]]]></Value>
    </relatedImages>
    <sale>
      <Value><![CDATA[]]></Value>
    </sale>
  </Properties>
</Content>