<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6287ed2-6b3a-46d1-a0ec-e2d9a96e8d76" Alias="Đèn Trần Mâm Vuông" Level="3">
  <Info>
    <Parent Key="db830885-3bca-4660-85f3-83641b3e6e7a">Đèn Ốp Trần</Parent>
    <Path>/TrangChu/DenOpTran/DenTranMamVuong</Path>
    <Trashed>false</Trashed>
    <ContentType>type</ContentType>
    <CreateDate>2025-04-22T04:48:50</CreateDate>
    <NodeName Default="Đèn Trần Mâm Vuông" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49281fab-885d-4c04-ad6b-087a17841207">Type</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>