<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2977439-2c80-4608-9245-0b66d7dd3a44" Alias="Đèn Quạt Pha Lê" Level="3">
  <Info>
    <Parent Key="be74c46a-3bae-45a5-90ea-2ff7e0971778">Đèn Quạt</Parent>
    <Path>/TrangChu/DenQuat/DenQuatPhaLe</Path>
    <Trashed>false</Trashed>
    <ContentType>type</ContentType>
    <CreateDate>2025-04-22T04:49:35</CreateDate>
    <NodeName Default="Đèn Quạt Pha Lê" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49281fab-885d-4c04-ad6b-087a17841207">Type</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>