<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c6e82a9-1e80-4e17-8227-114116113cf4" Alias="Đèn Trần Trung Hoa" Level="3">
  <Info>
    <Parent Key="db830885-3bca-4660-85f3-83641b3e6e7a">Đèn Ốp Trần</Parent>
    <Path>/TrangChu/DenOpTran/DenTranTrungHoa</Path>
    <Trashed>false</Trashed>
    <ContentType>type</ContentType>
    <CreateDate>2025-04-22T04:48:29</CreateDate>
    <NodeName Default="Đèn Trần Trung Hoa" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49281fab-885d-4c04-ad6b-087a17841207">Type</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>