<?xml version="1.0" encoding="utf-8"?>
<Content Key="51caa107-3f64-4ab8-8021-81940a877d3f" Alias="Đặt hàng &amp; thanh toán" Level="3">
  <Info>
    <Parent Key="17ae2ba3-1fc1-42a0-8008-c388d706fb63">Chính sách</Parent>
    <Path>/TrangChu/ChinhSach/DatHangThanhToan</Path>
    <Trashed>false</Trashed>
    <ContentType>blankPage</ContentType>
    <CreateDate>2025-04-22T04:46:53</CreateDate>
    <NodeName Default="Đặt hàng &amp; thanh toán" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5074216b-5955-4a16-a03f-87ee988d6702">BlankPage</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[]]]></Value>
    </banner>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaThumbnails>
      <Value><![CDATA[[]]]></Value>
    </metaThumbnails>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>